<header>
  <div class="site-header">
    <img src="/images/site/icon.png" alt="CSE Motors Logo">
    <h1>CSE Motors</h1>
  </div>
  <div class="account-link">
    <a href="/account/login">My Account</a>
  </div>
</header>