<header>
  <div class="site-header">
    <img src="/images/site/icon.png" alt="CSE Motors Logo">
    <h1>CSE Motors</h1>
  </div>
  <div class="account-link">
    <% if (locals.loggedin) { %>
      <a href="/account/" title="Account Management">Welcome <%= locals.accountData.account_firstname || 'User' %></a>
      <a href="/account/logout" title="Logout">Logout</a>
    <% } else { %>
      <a href="/account/login">My Account</a>
    <% } %>
  </div>
</header>