<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<%- detailView %>

<!-- Add Reviews Section -->
<%- include('../partials/reviews', { reviews: reviews, averageRating: averageRating, inventory: inventory }) %>